/* .item {
    background-color: rebeccapurple;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(.87,-1.38,.03,1.54);
    cursor: pointer;
    }

    .item:hover {
        width: 500px;
        height: 500px;
    } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.678);
}
.main {
}

.Pitem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  gap: 10px;
}
img {
  width: 250px;
  height: 300px;
}
.item {
  filter: grayscale(100%);
  transition: 0.5s cubic-bezier(0.87, -1.38, 0.03, 1.54);
  cursor: pointer;
}

.item:hover {
  width: 310px;
  cursor: pointer;
  filter: grayscale(0);
}
